body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(170, 28, 127, 0.323);
    width: 80%;
    max-width: 700px;
}

h1 {
    text-align: center;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c436b1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #b947a6;
}

pre {
    font-size: 16px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

canvas {
    margin-top: 20px;
    border: 1px solid #ccc;
}