body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f0f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(117, 6, 97, 0.451);
    width: 420px;
}

h1 {
    text-align: center;
    color: #502c45;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
    color: #5e3456;
}

textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    resize: vertical;
}

textarea:focus {
    border-color: #b929a3;
    outline: none;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #db34b4;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b9298b;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #ae2781;
}