body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(146, 13, 106, 0.2);
    width: 400px;
}

h1 {
    text-align: center;
    color: #8c1476;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #050505d5;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

input:focus,
textarea:focus {
    border-color: #c25799;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #c257a4;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b13581;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #0a0a0a;
    font-weight: bold;
}