body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(166, 11, 112, 0.274);
    width: 420px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #502c4e;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #5e3451;
    margin-bottom: 6px;
    display: block;
}

textarea,
select,
button {
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #ccc;
    display: block;
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
    font-family: monospace;
}

textarea:focus,
select:focus {
    border-color: #b92993;
    outline: none;
}

button {
    background-color: #db349b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b92987;
}

#output {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    color: #ae2797;
    white-space: pre-wrap;
    font-family: monospace;
}