body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  background-image: url('https://static.vecteezy.com/system/resources/previews/024/584/238/non_2x/pink-english-rose-watercolor-flower-free-png.png');
  background-size: 50% auto;
  background-position: left;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(166, 20, 142, 0.358);
}

h1 {
  text-align: center;
}

label {
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
}

input {
  width: 100%;
  padding: 3px;
  font-size: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #c7529c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #bf4b9c;
}

#output {
  margin-top: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 4px;
  font-family: monospace;
}